.aboutProject {
  margin: 0 auto;
  max-width: 1140px;
  padding-top: 110px;
}

.aboutProject__header {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.53px;
  margin: 0;
  position: relative;
}

.aboutProject__header::before {
  content: "";
  top: 49px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  border-bottom: 1px solid #dadada;
  opacity: 0.7;
}

.aboutProject__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 26px;
  margin-top: 94px;
  max-width: 1140px;
}

.aboutProject__subheader {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
  color: #fff;
}

.aboutProject__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.aboutProject__progressbar {
  margin-top: 110px;
  display: grid;
  grid-row-gap: 14px;
  grid-template-columns: 228px 912px;
  justify-content: center;
  padding-bottom: 110px;
}

.aboutProject__backend {
  height: 36px;
  background-color: #3ddc84;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
}

.aboutProject__frontend {
  height: 36px;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.aboutProject__progressbar-text {
  display: flex;
  justify-content: center;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  align-self: center;
  color: #8b8b8b;
}
