.register {
  max-width: 396px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
}

.register__fieldset {
  margin: 40px 0 65px;
}

.register__placeholder {
  margin: 24px 0 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
}

.register__placeholder:first-of-type {
  margin: 0;
}
