.techs {
  padding-top: 110px;
  background-color: #272727;
}

.techs__canvas {
  max-width: 1140px;
  margin: 0 auto;
}

.techs__header {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.53px;
  margin: 0;
  position: relative;
}

.techs__header::before {
  content: "";
  top: 49px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  border-bottom: 1px solid #dadada;
  opacity: 0.7;
}

.techs__container {
  display: flex;
  flex-direction: column;
  margin: 114px auto 0;
  justify-content: center;
  align-items: center;
}

.techs__title {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: #fff;
}

.techs__subtitle {
  margin: 26px 0 0;
  max-width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}

.techs__list {
  margin: 100px 0;
  display: grid;
  grid-template-columns: repeat(7, 90px);
  grid-column-gap: 10px;
  list-style: none;
  color: #fff;
  padding: 0;
}

.techs__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 90px;
  min-height: 60px;
  background-color: #303030;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 1200px) {
  .techs {
    padding: 110px 70px 0;
  }
}

@media screen and (max-width: 768px) {
  .techs {
    padding: 90px 50px 0;
  }

  .techs__container {
    display: flex;
    flex-direction: column;
    margin: 104px auto 0;
  }

  .techs__subtitle {
    margin: 22px 0 0;
    font-size: 12px;
    line-height: 18px;
  }

  .techs__list {
    margin: 83px 0 90px;
    grid-template-columns: repeat(7, 84px);
  }

  .techs__list-item {
    min-height: 57px;
    min-width: 84px;
    font-size: 12px;
    line-height: 14px;
  }
}
